__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
training/outputs/
results/
tmp/
*.log
nohup.out
models/
data/financial_all/indexes/entity_embeddings.pkl
verl
example
tests
docker
.vscode
LLaMa-Factory
training
